<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3" id="article-box">
    <%= render "form" %> 
  </div>
  <div class="col-md-9">
    <%= render "list" %> 
  </div>
</div>

<br>
