<!DOCTYPE html>
<html>
<head>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>X Editable Demo</title>
  <meta name="description" content="x-editable-rails-demo">
  <%= stylesheet_link_tag 'application', media: 'all',
                          'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>

  <div id="footer">
    <a href="https://github.com/diogowernik/x_editable_rails_demo">
       x_editable_rails_demo@GitHub
    </a>
  </div>
</body>
</html>
